<!DOCTYPE html>
<html lang="en">
<head>
    <title>Magebit startup page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="test.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div class="login-sign-up-box">
        <transition name="fade" mode="out-in">
            <div v-if="show" key="signUp" class="sign-up-container">
                <h1>Don't have an account?</h1>
                <div class="sign-up-underline"></div>
                <p>
                    Lorem ipsum dolor sit amet,<br/>
                    consectetur adipisicing elit, sed do<br/>
                    eiusmod tempor incididunt ut labore et<br/>
                    dolore magma aliqua
                </p>
                <button type="submit" @click="show = !show" class="sign-up-button">SIGN UP
                </button>
            </div>
            <div v-else key="login" class="login-container">
                <h1 class="login-header">
                    Have an account?
                </h1>
                <div class="login-underline">
                </div>
                <p class="login-paragraph">
                    Lorem ipsum dolor sit amet consectetur<br/> adipisicing elit.
                </p>
                <button type="submit" @click="show = !show" class="login-button">LOGIN
                </button>
            </div>
        </transition>
        <div :class="{slided: show === false}" class="slide">
            <div class="login-sign-up-form">
                <transition name="fade" mode="out-in">
                    <div v-if="show" key="login" class="loginForm">
                        <form action="/login" method="post">
                            <h1 class="login-form-header">Login</h1>
                            <div class="login-form-underline"></div>
                            <div class="magebit-logo">
                                <img src="images/logo.png" alt="magebit-logo">
                            </div>
                            <label class="email">Email*</label>
                            <input type="email" name="email">
                            <label class="password">Password*</label>
                            <input type="password" name="password">
                            <input type="submit" value="LOGIN">
                            <input type="submit" class="forgot" value="Forgot?">
                        </form>
                    </div>
                    <div v-else key="signUp" class="signUpForm">
                        <form action="/signUp" method="post">
                            <h1 class="sign-up-form-header">Sign Up</h1>
                            <div class="sign-up-form-underline"></div>
                            <div class="magebit-logo-2">
                                <img src="images/logo.png" alt="logo">
                            </div>
                            <label class="name">Name*</label>
                            <input type="text" name="name">
                            <label class="email">Email*</label>
                            <input type="email" name="email">
                            <label class="password">Password*</label>
                            <input type="password" name="password">
                            <input type="submit" value="SIGN UP">
                        </form>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</div>
<script src="app.js">
</script>
</body>
</html>